[database]
driver = "ODBC Driver 18 for SQL Server"
server = "192.168.x.x"
database = "EFTDB"
user = "a"
password = "a"
query = """SELECT TOP (1) [ProtocolCommandID]
      ,[Time_stamp]
      ,[RemoteIP]
      ,[RemotePort]
      ,[LocalIP]
      ,[LocalPort]
      ,[Protocol]
      ,[SiteName]
      ,[Command]
      ,[CommandParameters]
      ,[FileName]
      ,[VirtualFolderName]
      ,[PhysicalFolderName]
      ,[IsInternal]
      ,[FileSize]
      ,[TransferTime]
      ,[BytesTransferred]
      ,[ResultID]
      ,[TransactionID]
      ,[Description]
      ,[Actor]
  FROM [EFTDB].[dbo].[tbl_ProtocolCommands]"""
[output]
filename ="./data.json"

[logging]
use_log = true
logLevel = "debug"
logPath = "./inex.log"